<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mapa Parcelas</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" href="/static/css/styles.css">
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>

<div class="container">
  <h1>Mapa de Parcelas</h1>
  <div id="toast" class="toast"></div>
  <div class="controls">
    <input type="text" id="partidaInput" placeholder="Ingrese partida...">
    <div id="toastPartida"></div>
    <button onclick="buscarPartida()">Buscar</button>
    <button onclick="borrarResaltado(); borrarRuta();">Borrar búsqueda</button>
  </div>

  <div id="map"></div>
</div>

<script src="/static/js/mapa.js"></script>
</body>
</html>
